<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cities</key>
		<array>
			<string>肝病，肝炎</string>
			<string>胆病</string>
			<string>风湿</string>
			<string>头痛</string>
			<string>眼病</string>
			<string>耳病</string>
			<string>牙痛</string>
			<string>脊椎病</string>
			<string>肩周炎</string>
			<string>手脚病</string>
			<string>乳腺病</string>
		</array>
		<key>state</key>
		<string>绿色</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>失眠，失忆症</string>
			<string>心脏疾病</string>
			<string>弱智</string>
			<string>音哑</string>
			<string>疔疮</string>
			<string>便秘、痔疮</string>
			<string>红斑狼疮</string>
			<string>小肠疾病</string>
			<string>脑梗塞脑血栓脑出血</string>
			<string>高血压、高血脂</string>
			<string>白癜风、紫癣</string>
			<string>动脉硬化</string>
			<string>腺体的疾病</string>
			<string>血液疾病</string>
			<string>淋巴结、淋巴瘤</string>
			<string>精神方面的疾病</string>
			<string>神经系统的病</string>
		</array>
		<key>state</key>
		<string>红色</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>胃病、胃炎</string>
			<string>便秘痢疾</string>
			<string>鼻炎、无嗅觉</string>
			<string>虚弱病</string>
			<string>口腔病</string>
			<string>肉瘤</string>
			<string>肌肉萎缩</string>
			<string>四肢无力、浮肿</string>
			<string>大肚子病</string>
			<string>肠胃炎饮食不振</string>
		</array>
		<key>state</key>
		<string>黄色</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>肺病、肺炎</string>
			<string>支气管炎</string>
			<string>咳嗽感冒</string>
			<string>哮喘</string>
			<string>咽喉炎</string>
			<string>皮肤病</string>
			<string>大肠、结肠、直肠炎</string>
			<string>其他呼吸道及闭关</string>
		</array>
		<key>state</key>
		<string>白色</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>肾病、肾炎</string>
			<string>疝气</string>
			<string>子宫类疾病</string>
			<string>不孕症</string>
			<string>妇科病</string>
			<string>男科病</string>
			<string>前列腺炎</string>
			<string>膀胱炎</string>
			<string>糖尿病</string>
			<string>静脉曲张</string>
			<string>关节病</string>
			<string>痛风、骨膜炎</string>
			<string>腰部疾病</string>
			<string>贫血</string>
		</array>
		<key>state</key>
		<string>黑色</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>婴儿脑瘫</string>
			<string>婴儿皮肤病</string>
			<string>弱智</string>
			<string>儿童骨折</string>
			<string>其他12岁以前的孩子疾病</string>
		</array>
		<key>state</key>
		<string>粉红色儿童组</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string></string>
		</array>
		<key>state</key>
		<string>其他</string>
	</dict>
</array>
</plist>
